body{
    margin: 0;
    padding: 0;
}
.logoPng{
    width: 120px;
    height: 65px;
}
.imagenHawai{
    width:100%;
    height:93vh;
}

.formulario2{
    height: 100px;
}
.mensaje{
    font-size: 12px;
    position: relative;
    left: 45px;
}
